<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Great Number Game</title>
		<style media="screen">
			body{ text-align: center; }
			div{
				height: 150px;
				width: 150px;
				padding-top: 35px;
				margin: 25px auto;
				color: white;
				border: 1px solid black;
				box-sizing: border-box;
			}
			div.red{
				background: red;
			}
			div.green{
				background: green;
			}
		</style>
	</head>
	<body>
		<h1>Welcome to the Great Number Game!</h1>

		<h5>I'm thinking of a number between 1 and 100</h5>
		<h5>Take a guess!</h5>

		{% if 'result' in session %}
			{% if session['result'] == "Too Low" %}
				<div class="red">
					<h1>Too Low!</h1>
				</div>
			{% elif session['result'] == "Too High" %}
				<div class="red">
					<h1>Too High!</h1>
				</div>
			{% else %}
				<div class="green">
					<h3>{{session['guess']}} was the number!</h3>
					<a href="/reset"><button>Play Again!</button></a>
				</div>
			{% endif %}
		{% endif %}

		{% if 'result' not in session or session['result'] != "You Win" %}
		<form action="/guess" method="post">
			<input type="text" name="guess">
			<p><input type="submit"></p>
		</form>
		{% endif %}


	</body>
</html>
